{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset Confirm{% endblock %}
{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}"> -->

<style>
    body{
        background: #2980b9; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .btnsign{
    color: aliceblue;
    background-color: #012555;
    border-color: #012555;
    }

    .btnsign:hover{
    color: aliceblue;
    background-color:#3dd0d8 ;
    border-color: #3dd0d8;
}


.glass
{ 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));  backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    -webkit-backdrop-filter: blur(10px); 
    /* border-radius: 20px;  */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}
</style>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 p-3 glass">
                    <div class="card-body">
                        <h2 class="card-title">Reset Password</h2>
                        <p class="card-text my-3">Forgotten your password? Enter your email address below, and
                            we'll email instructions for setting a new one.</p>

                        <form action="" id="passwordResetForm" method="POST" >
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="form-label" for="id_username">Email</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    {{ form.username }}
                                </div>
                            </div>

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li class="text-danger">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <div class="mt-3 text-center">
                                <button class="btn btnsign " type="submit">Send email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'accounts/js/password_reset.js' %}"></script>

{% endblock %}
